<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>Home</title>
  </head>
  <body>
    <div id="content">
      <h1>Home</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima minus
        voluptate repellat delectus ea est quia fuga, distinctio necessitatibus
        quis ipsum rerum tempora magni ratione porro ad? Aspernatur, odit
        laborum.
      </p>
      <script>
        console.log("Hello From Home");
      </script>
    </div>
  </body>
</html>
