<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{})}">
  <head>
    <title>Services</title>
  </head>
  <body>
    <div id="content">
      <h1>Service</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. A quibusdam
        cumque, beatae facilis accusamus reprehenderit perferendis quos
        praesentium quisquam nemo laboriosam nam velit odit? Esse incidunt illo
        placeat eaque veniam.
      </p>
    </div>
  </body>
</html>
